@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import "tailwindcss";
@import "@xyflow/react/dist/style.css";
@import "swiper/css";
@import "swiper/css/grid";
@import "swiper/css/navigation";